name: Build and Deploy
on:
  push:
    branches:
      master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Nix
        uses: cachix/install-nix-action@v11
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-3.0pre20200820_4d77513/install
          extra_nix_config: |
            experimental-features = nix-command flakes
      - name: Build
        run: |
          nix build
          nix build ./.#docs.html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./result
